body {
	font-family: Helvetica, Arial, Verdana, Sans-serif;
	font-size: 12px;
}

h1 {
	margin: 0;
	display: block;
	float: left;
	color: #444;
}

hr {
	border: none;
	border-top: 1px solid grey;
}

a {
	text-decoration: none;
	color: #444;
	-webkit-transition: opacity 0.2s;
}

a:hover {
	opacity: 0.5;
}

.active {
	font-weight: bold;
}

.clearfix {
	clear: both;
}

.error {
	border: 2px solid red;
}



/* MAIN STRUCTURE */

#wrapper {
	width:100%;
	margin-left:auto;
	margin-right:auto
}

#header {
	padding-top: 50px;
	padding-bottom: 20px;
	width: 100%;
	top: 0; left: 0;
	position: fixed;
	background: #fafafa;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
	z-index: 10;
}	

#innerHeader {
	width: 800px;
	margin: 0 auto;
}

#nav {
	margin-top: 15px;
	float:right;
	bottom: 0;
}

#nav a {
	margin-left: 10px;
}

#content {
	margin: 0 auto;
	margin-top: 150px;
	width: 800px;
	color: #444;
}

#footer {
	margin: 0 auto;
	margin-top: 50px;
	width: 1000px;
	text-align:center;
	padding-top: 20px;
	color: #aaa;
	font-size: 10pt;
	border-top: 1px solid #ddd;
}

#footer span {
	padding-right: 20px;
	padding-left: 20px;
}


.left {
	float: left;
	width: 200px;
}

.right {
	float: right;
	width: 465px;
}

.box {
	padding: 5px;
	background: #fafafa;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
	border-radius: 5px;
}



/* BOOKING FORM */

#classroom, #timeperiod {
	width: 200px;
	margin-bottom: 10px;
}

#startdate, #enddate {
	width: 91px;
	margin: 0;
	margin-bottom: 10px;
}

[type=submit] {
	margin: 0;
	margin-bottom: 10px;
}

#error {
	color: red;
}

#success {
	color: green;
}



/* COURSE INFO / DELETE FORM */

#courseinfo {
	margin-top: 30px;
}

#courseinfo h3:first-child {
	margin-top: 0;
}

#courseinfo p {
	margin-bottom: 20px;
}

#courseinfo .booking_classroom {
	font-weight: bold;
	margin-top: 20px;
}

#courseinfo .booking_date {
	margin-left: 10px;
	margin-top: 8px;
	font-size: 11px;
}

#courseinfo .delete {
	color: red;
	margin-left: 20px;
	cursor: pointer;
}



/* BOOKING CALENDAR (MISC) */

#calendar {
	
}

#dialog {
	display: none;
}

#dialog [type=button] {
	width: 71px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#legend {
	font-size: 11px;
	margin-bottom: 30px;
}

#legend .booked_fm, #legend .booked_em {
	display: inline-block;
	height: 3px;
	width: 14px;
	margin-right: 5px;
	margin-bottom: 2px;
}

#legend .booked_fm {
	background: #EB6565;
	margin-top: 5px;
}

#legend .booked_em {
	background: #F79859;
	margin-top: 15px;
	margin-left: 15px;
}

#legend .booking_start, #legend .booking_end {
	display: inline-block;
	margin-right: 5px;
	margin-left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

#legend .booking_start {
	background: #B0DDF5;
}

#legend .booking_end {
	background: #B7E8B3;
}



/* BOOKING CALENDAR */

#calendar .month {
	margin-bottom: 30px;
}

#calendar .dashes {
	position: absolute;
	margin-top: 21px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	height: 9px;
	width: 100%;
	z-index: -1;
}

#calendar .startdate {
	float: left;
	font-size: 11px;
}

#calendar .enddate {
	float: right;
	font-size: 11px;
}

#calendar .day {
	width: 15px;
	height: 10px;
	float: left;
	padding-top: 26px;
	padding-bottom: 5px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
}

#calendar .day div {
	position: absolute;
	height: 3px;
	width: 14px;
	margin-right: 1px;
	display: none;
}

#calendar .booked_fm div:nth-child(1) {
	background: #EB6565;
	margin-top: -20px;
	display: block;
}

#calendar .booked_em div:nth-child(2) {
	background: #F79859;
	margin-top: -10px;
	display: block;
}

#calendar .day span {
	display: none;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

#calendar .day:hover span {
	display: block;
}

#calendar .selected span {
	display: block;
	font-weight: bold;
}

#calendar .booking_start span {
	display: block;
	background: #B0DDF5;
}

#calendar .booking_end span {
	display: block;
	background: #B7E8B3;
}

